<%= blad(@artykuls)%>
<table class = "table table-striped">


	<tr>
	<th> <%= pole.label(:strona_id, "Page")%> </th>
	<td> <%= pole.select(:strona_id, @strona.map{|t| [t.name, t.id]}, :class => 'form-control')%>  </td>
	</tr>

	<tr>
	<th> <%= pole.label(:name)%> </th>
	<td> <%= pole.text_field(:name, :class => 'form-control')%>  </td>
	</tr>

	<tr>
	<th> <%= pole.label(:position)%> </th>
	<td> <%= pole.select(:position, 1..@licznik, :class => 'form-control')%>  </td>
	</tr>

<% if !@artykuls.images.blank?%>
	<tr>
	<th>Image: </th>
	<td> <%= image_tag(@artykuls.images)%>  </td>
	</tr>
<% end %>

	<tr>
	<th> <%= pole.label(:images, "Image")%> </th>
	<td> <%= pole.file_field(:images)%>  </td>
	</tr>


	<tr>
	<th> <%= pole.label(:visibility, "Widoczny?")%> </th>
	<td> <%= pole.check_box(:visibility)%>  </td>
	</tr>

	<tr>
	<th> <%= pole.label(:created_at)%> </th>
	<td> <%= pole.datetime_select(:created_at, :class => 'form-control')%>  </td>
	</tr>	

	<tr>
	<th> <%= pole.label(:content)%> </th>
	<td> <%= pole.text_area(:content, :class => 'form-control')%>  </td>
	</tr>

</table>